<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.XKBAM"
        tools:targetApi="31">
        <activity
            android:name=".main.ReporteVentasActivity"
            android:exported="false" />
        <activity
            android:name=".main.RegistrarArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".main.CompraRealizada"
            android:exported="false" />
        <activity
            android:name=".main.Pago"
            android:exported="false" />
        <activity
            android:name=".main.Carrito"
            android:exported="false" />
        <activity
            android:name=".main.DetallesArticulo"
            android:exported="false" />
        <activity
            android:name=".main.MenuArticulos"
            android:exported="false" />
        <activity
            android:name=".main.MenuCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".DetallesDireccionesActivity"
            android:exported="false" />
        <activity
            android:name=".DetallesBancariosActivity"
            android:exported="false" />
        <activity
            android:name=".DetallesBancariosUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".DetallesUsuarioActivity"
            android:exported="false"
            android:label="@string/title_activity_detalles_usuario" />
        <activity
            android:name=".main.MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MenuCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>